@{
    ViewBag.Title = "Delete Product";
}

<h2 class="text-center text-capitalize text-primary" style="font-family: cursive">@ViewBag.Title</h2>
<hr/>

<partial name="_DeleteProductPartial" model="@Model" />

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}